{% extends "main.html" %}

{% block contents %}

<table class="table table-bordered">
    <tbody>
        <tr>
            <td colspan="2">{{result.title}}</td>
        </tr>
        <tr>
            <td>{{result.name}}</td>
            <td style=text-align:right;>{{result.pubdate | formatdatetime}}</td>
        </tr>
        <tr>
            <td colspan="2"><div style="min-height : 150px">{% autoescape false %}{{result.contents}}{% endautoescape %}</div></td>
        </tr>
    </tbody>
</table>

<a class="btn btn-info" href="{{url_for('board.lists', page=page)}}">다이어리로</a>

{% if session["id"] == result.writer_id %}
<a class="btn btn-danger" style="float:right" href = "{{url_for('board.board_delete', idx=result.id)}}">글삭제</a>
<a class="btn btn-warning" style="float:right, ml=2" href = "{{url_for('board.board_edit', idx=result.id)}}">글수정</a>
{% endif %}
{% endblock %}
